/* GLOBALS AND UTILITIES */
@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoReg;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

html {
  --logoRed: rgb(237, 27, 36);
  --logoGreen: rgb(65, 173, 72);
  --logoBlue: rgb(0, 112, 175);
  --logoGrey: rgb(88, 89, 91);
  --midGrey: #888;
  --lightGrey: #ddd;
  scroll-behavior: smooth
}
.red { background-color: var(--logoRed); }
.green { background-color: var(--logoGreen ); }
.blue { background-color: var(--logoBlue); }
.grey { background-color: var(--logoGrey); }
.red-text { color: var(--logoRed); }
.green-text { color: var(--logoGreen ); }
.blue-text { color: var(--logoBlue); }
.grey-text { color: var(--logoGrey); }

p {
  line-height: 1.75em
}
a {
  color: inherit;
}

.three-box-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-big {
  display: none;
}

/* BASICS AND MOBILE */
body {
}

body, main {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1em;
}
h1, h2, h3, hgroup, nav {
  font-family: Dosis, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.logo {
  height: 2.5em;
  margin-top: 4px;
}
nav {
  display: flex;
  flex-direction: column;
}
nav a {
  padding: .5em;
  width: 8em;
  color: #fff;
  text-decoration: none;
}

hgroup {
  margin-top: 0.5em;
  background-color: var(--logoBlue);
  background-image: url('../images/gs/net.png');
  background-blend-mode: soft-light;
  background-size: cover;
  padding: 0.5vw;
  text-align: center;
  font-size: 80%;
  transition: all 0.25s ease-out;
  box-sizing: border-box;
  color: white;
  text-shadow: 0px 0px 15px black;

}
hgroup h1 {
  margin: 5vw 0 0;
}
hgroup h2 {
  margin: 0.25em 0;
}
hgroup p {
  margin-bottom: 0;
}

main > section {
  box-sizing: border-box;
  padding: 0 1.5em;
}

.three-box-flex section {
  background-image: url('../images/gs/web.png');
  background-blend-mode: lighten;
  background-size: 2000px;
  padding: 0;
  width: 90%;
  padding: 1em;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: .5em;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.three-box-flex section:nth-child(1) {
  background-color: var(--logoRed);
  background-position: 0px;
}
.three-box-flex section:nth-child(2) {
  background-color: var(--logoGreen);
  background-position: 200px;
}
.three-box-flex section:nth-child(3) {
  background-color: var(--logoBlue);
  background-position: 400px;
}
::selection {
  background: var(--logoGrey);
  color: white;
}

summary {
  outline: none;
}
summary h2 {
  display: inline-block;
  margin: 0;
  width: 90%;
  font-size: 1.5em;
}

footer {
  /* use grid layout instead? */
  margin-top: 1em;
  height: auto;
  padding: 1em .5em .5em;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: var(--logoGrey);
  font-size: .75em;
}
footer p {
  margin: .25em 5% .5em;
}
footer .logo-eu {
  height: 3.5em;
}

@media screen and (min-width: 580px) {
  .logo {
    height: 4em;
  }
  nav {
    flex-direction: row;
  }
  nav a {
    padding: 2.5em .5em .5em;
    margin: 0 0 0 .5em;
    box-sizing: border-box;
  }
  nav a:hover {
    color: var(--lightGrey);
  }
  hgroup {
    font-size: 125%;
  }
  hgroup:hover {
    background-color: var(--logoGreen);
  }
  main {
    max-width: 1400px;
    margin: auto;
  }
  .three-box-flex {
    justify-content: space-around;
    flex-direction: row;
    justify-items: start;
    align-items: start;
  }
 .three-box-flex section {
    width: 30%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .show-big {
    display: block;
  }
  main {
    font-size: 125%;
  }
}
