/* GLOBALS AND UTILITIES */
@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoReg;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

html {
  --logoRed: rgb(237, 27, 36);
  --logoGreen: rgb(65, 173, 72);
  --logoBlue: rgb(0, 112, 175);
  --logoGrey: rgb(88, 89, 91);
  --midGrey: #888;
  --lightGrey: #ddd;
  scroll-behavior: smooth
}
.red { background-color: var(--logoRed); }
.green { background-color: var(--logoGreen ); }
.blue { background-color: var(--logoBlue); }
.grey { background-color: var(--logoGrey); }
.red-text { color: var(--logoRed); }
.green-text { color: var(--logoGreen ); }
.blue-text { color: var(--logoBlue); }
.grey-text { color: var(--logoGrey); }

p {
  line-height: 1.75em
}
a {
  color: inherit;
}

.three-box-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-big {
  display: none;
}

body, main {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1em;
}
h1, h2, h3, hgroup, nav {
  font-family: Dosis, sans-serif;
}
.roboto-reg {
  font-family: RobotoReg, sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 0 4px;
}
.logo {
  height: 4.2em;
  margin-top: 4px;
}
nav.edi-net {
  display: flex;
  flex-direction: column;
}
nav.edi-net a {
  padding: .5em;
  width: 6.5em;
  color: white;
  text-decoration: none;
  margin-top: 4px;
}

hgroup {
  margin-top: 0.5em;
  background-color: var(--logoBlue);
  /* just keeping this here because it's nicer: */
  /* background-image: url('../images/web.png'), url('../images/face-070.png'); */
  /* background-blend-mode: lighten; */
  background-image: url('../images/net.png'), url('../images/face-070.png');
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover, 30vw;
  background-position: center, -15vw;
  padding: 5vw;
  text-align: center;
  font-size: 60%;
  transition: all 0.25s ease-out;
  box-sizing: border-box;
  color: white;
  text-shadow: 0px 0px 15px black;
}
hgroup h1, hgroup h2, hgroup h3 {
  margin: 0.25em 0;
}
hgroup h1 {
  font-size: 2.5em;
  margin-top: 0;
}
hgroup p {
  margin-bottom: 0;
}

main > section, .three-box-flex {
  box-sizing: border-box;
  padding: 0 1.5em;
}

main > section > img {
  width: 100%;
  margin: 1em auto;
  border: 2px solid var(--logoGrey);
  border-radius: 4px;
  box-sizing: border-box;
}

.three-box-flex section {
  background-color: var(--lightGrey);
  background-image: url('../images/web.png');
  background-size: 2000px;
  padding: 1em;
  border: 2px solid var(--logoGrey);
  border-radius: 4px;
  margin: .5em 0;
  color: var(--logoGrey);
}
.three-box-flex h2 {
  margin-top: 0.25em;
}
.three-box-flex section:nth-child(1) {
  border-color: var(--logoRed);
  background-position: 0px;
}
.three-box-flex section:nth-child(1) h2 {
  color: var(--logoRed);
}
.three-box-flex section:nth-child(2) {
  border-color: var(--logoGreen);
  background-position: 200px;
}
.three-box-flex section:nth-child(2) h2 {
  color: var(--logoGreen);
}
.three-box-flex section:nth-child(3) {
  border-color: var(--logoBlue);
  background-position: 400px;
}
.three-box-flex section:nth-child(3) h2 {
  color: var(--logoBlue);
}

::selection {
  background: var(--logoGrey);
  color: white;
}

summary {
  outline: none;
}
summary h2 {
  display: inline-block;
  margin: 0;
  width: 90%;
  font-size: 1.5em;
}

footer {
  /* use grid layout instead? */
  margin-top: 1em;
  height: auto;
  padding: 1em .5em .5em;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: var(--logoGrey);
  font-size: .75em;
}
footer p {
  margin: .25em 5% .5em;
}
footer .logo-eu {
  height: 3.5em;
}

@media screen and (min-width: 580px) {
  nav.edi-net {
    flex-direction: row;
  }
  header {
    padding-right: 10px;
  }
  nav.edi-net a {
    padding: 1.5em .6em .75em;
    margin: 0 0 0 .75em;
    box-sizing: border-box;
    height: 3.25em;
    width: 6.8em;
    font-size: 1em;
  }
  hgroup {
    font-size: 100%;
  }
  hgroup:hover {
    background-color: var(--logoGrey);
    background-position: center, -14vw;
  }
  main {
    max-width: 1400px;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    height: 5.45em;
  }
  .show-big {
    display: block;
  }
  header {
    padding: 0 10px 0 4px;
  }
  nav.edi-net a {
    font-size: 1.3em;
  }
  main {
    font-size: 125%;
  }
  .three-box-flex {
    justify-content: space-around;
    flex-direction: row;
    justify-items: start;
    align-items: stretch;
  }
 .three-box-flex section {
    width: 30%;
    margin: 0;
  }
  .three-box-flex section:nth-child(2) {
    margin: 0 .5em;
  }
  hgroup {
    font-size: 150%;
  }
}
