@font-face {
  font-family: Dosis;
  src: url(fonts/Dosis-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoReg;
  src: url(fonts/RobotoSlab-Regular.ttf);
}
html {
  /*
  EDI-Net COLOURS:
--logoRed: rgb(237, 27, 36);
--logoGreen: rgb(65, 173, 72);
--logoBlue: rgb(0, 112, 175);
--logoGrey: rgb(88, 89, 91);
  */
  --paleHighlight: rgb(180, 200, 210);
  --paleColour: rgb(190, 220, 230);
  --palerColour: rgb(200, 230, 240);
  --palerVery: rgb(240, 255, 255);
  --darkColour: rgb(50, 90, 110);
  --neutralPale: rgb(240, 240, 240);
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  overflow: hidden;
  background: var(--palerVery);
}
h1, h2, h3, h4 {
  font-family: Dosis, sans-serif;
}
a {
  text-decoration: none;
  color: var(--darkColour);
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
  font-size: 1em;
  opacity: .96;
  background: var(--paleColour);
  position: fixed;
  width: 100%;
  transition: .5s;
  z-index: 1000;
}
nav a,
nav .dropdown {
  padding: 0 5px;
  box-sizing: border-box;
  display: inline-block;
}
nav a:hover {
  color: #222;
}

/* Dropdown menu */
.dropdown a {
  width: 6em;
}
.dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  top: -6em;
  background: white;
  width: 6em;
  transition: top .2s;
  z-index: -5000;
}
.submenu a {
  display: block;
  background: var(--paleColour);
}
.submenu a:hover {
  display: block;
  background: var(--paleHighlight);
}
.dropdown > a {
  background: var(--paleHighlight);
}
.dropdown > a::after {
  content: "+";
  font-family: monospace;
  font-size: 1.25em;
  padding: 0 4px;
}
.dropdown > a:hover::after {
  content: "-";
}
.dropdown > a:hover ~ .submenu,
.submenu:hover {
  top: 2em;
}


main {
  position: relative;
  /* height cannot be auto or 100% or min-height */
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: white;
}

section[id^="page"] {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em .5em;
  background: white;
}
section img {
  width: 100%;
}
section:nth-child(even) {
  background: var(--neutralPale);
}

h1, h2, h3 {
  margin: 0;
  color: var(--darkColour);
}
h1 {
  font-size: 2.5em;
  padding-top: 1.25em;
}
h2, h3 {
  padding-top: .5em;
}
h2{
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
p a:hover {
  text-decoration: underline;
}
blockquote {
  position: relative;
  margin: 1em 0 1em 20px;
  padding: .5em 1em;
  border-radius: 4px;
  background: white;
  border: 2px solid var(--paleColour);
  border-radius: 4px;
}
blockquote::before {
  content: "“";
  font-size: 7em;
  letter-spacing: -.2em;
  color: var(--paleHighlight);
  font-family: times, serif;
  position: absolute;
  top: -35px;
  left: -20px;
}

/* ====== Research section ====== */
.panels {
  display: flex;
  flex-direction: column;
}
.panels section {
  box-sizing: border-box;
  width: 98%;
  padding: .75em;
  margin-bottom: .25em;
  background: white;
  border: 2px solid var(--paleColour);
  border-radius: 4px;
  font-size: .75em;
}
.panels h2 {
  padding: 0 0 .25em;
}

a.top {
  position: absolute;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-size: .75em;
  background: var(--paleColour);
}
/* ====== Contact section ====== */
/* figure {
  text-align: center;
} */

/* address {
  font-style: normal;
}
.footermenu a {
  height: 1.5em;
  display: block;
} */

@media screen and (min-width: 600px) {
  body {
    font-size: 1.25em;
  }
  nav {
    font-size: 1.5em;
    line-height: 2em;
  }
  .smallhead {
    font-size: 1em;
    opacity: .96;
  }
  section[id^="page"] {
    padding: 0 2em 1em;
  }
  .panels {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .panels section {
    margin: 0.5em;
    width: 30%;
  }
  a.top {
    line-height: 2.5em;
    font-size: 1em;
  }
}